<!DOCTYPE html>
<html lang="en">
<head>
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Flight</title>
                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <style>
                    * {
                      box-sizing: border-box;
                    }
                    
                    /* Create three equal columns that floats next to each other */
                    .column {
                      float: left;
                      width: 15%;
                      padding: 5px;
                      height: 100px; /* Should be removed. Only for demonstration */
                    
                    }
                    
                    /* Clear floats after the columns */
                    .row:after {
                      content: "";
                      display: table;
                      clear: both;
                    }
                    </style>
                    </head>

<body background="{{ url_for('static', filename='photos/plane.jpeg') }}">
        <div class="w3-display-container" style="margin-bottom:50px">
                <div class="w3-display-container" style="margin-bottom:50px">
                        <div class="w3-topbar w3-border-amber">
                            <div class="row">
                               <div class="column">
                                   <img src="https://www.gstatic.com/flights/airline_logos/70px/multi.png"><br>
                                   
                                </div>
                  
                               
                                
                               <div class="column">
                                   <h3>8:05 AM - 7:30 PM</h3>
                                   <small>Delta,KLM</small>
                                </div>
                                           
                                
                               <div class="column">
                                   <h3>19h 25m</h3>
                                   <small>NBO - JFK</small>
                              </div>
                 
                              <div class="column">
                                 <h3>1 stop</h3>
                                 <small>2h 25m AMS</small>
                              </div>
                 
                               <div class="column">
                                  <h3>$2,254</h3>
                                  <small>Round Trip</small>
                                  </div>
                 
                                  <div class="column">
                     
                                        
                                         <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                       </div>   
                                               
                              </div>
                              </div>
                              </div>
                 
                              <!-- < end of option > -->
                             
                              <div class="w3-topbar w3-border-amber">
                                 <div class="row">
                                    <div class="column">
                                        <img src="https://www.gstatic.com/flights/airline_logos/70px/AF.png"><br>
                  
                                     </div>
                       
                                    
                                     
                                    <div class="column">
                                        <h3>8:15 AM - 8:50 PM</h3>
                                        <small>Air France . Delta</small>
                                     </div>
                                                
                                     
                                    <div class="column">
                                        <h3>20h 35m</h3>
                                        <small>NBO - JFK</small>
                                   </div>
                 
                                   <div class="column">
                                       <h3>1 stop</h3>
                                       <small>3h 10m CDG</small>
                                   </div>
                      
                                    <div class="column">
                                       <h3>$2,254</h3>
                                       <small>Round Trip</small>
                                       </div>
                 
                                       <div class="column">
                     
                                        
                                           <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                         </div>  
                                   </div>
                                   </div>
                                   </div>
                 
                              
                 
                                         <!-- < end of option > -->
                 
                                         <div class="w3-topbar w3-border-amber">
                                             <div class="row">
                                                <div class="column">
                                                    <img src="https://www.gstatic.com/flights/airline_logos/70px/KQ.png"><br>
                              
                                                 </div>
                                   
                                                
                                                 
                                                <div class="column">
                                                    <h3>10:55 PM - 6:25 AM</h3>
                                                    <small>Kenya Airways</small>
                                                 </div>
                                                            
                                                 
                                                <div class="column">
                                                    <h3>20h 35m</h3>
                                                    <small>NBO - JFK</small>
                                               </div>
                             
                                               <div class="column">
                                                   <h3>Nonstop</h3>
                                         
                                               </div>
                                  
                                                <div class="column">
                                                   <h3>$2,804</h3>
                                                   <small>Round Trip</small>
                                                   </div>
                 
                                                   <div class="column">
                     
                                        
                                                       <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                     </div>  
                                                                
                                               </div>
                                               </div>
                                               </div>
                                               
                                               <!-- <end of option> -->
                                                                        
                                                    <div class="w3-topbar w3-border-amber">
                                                       <div class="row">
                                                          <div class="column">
                                                              <img src="https://www.gstatic.com/flights/airline_logos/70px/multi.png"><br>
                                        
                                                           </div>
                                             
                                                          
                                                           
                                                          <div class="column">
                                                              <h3>11:59 PM - 1:14 PM</h3>
                                                              <small>KLM, Delta</small>
                                                           </div>
                                                                      
                                                           
                                                          <div class="column">
                                                              <h3>21h 15m</h3>
                                                              <small>NBO - JFK</small>
                                                         </div>
                                       
                                                         <div class="column">
                                                             <h3>1 stop</h3>
                                                             <small>4h 20m AMS</small>
                                                   
                                                         </div>
                                            
                                                          <div class="column">
                                                             <h3>$2,255</h3>
                                                             <small>Round Trip</small>
                                                             </div>
                 
                                                             <div class="column">
                     
                                        
                                                                 <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                               </div>  
                                                                          
                                                         </div>
                                                         </div>
                                                         </div>
                                                         
                                                         <!-- <end of option> -->
                 
                                                             <div class="w3-topbar w3-border-amber">
                                                                 <div class="row">
                                                                    <div class="column">
                                                                        <img src="https://www.gstatic.com/flights/airline_logos/70px/KL.png"><br>
                                                  
                                                                     </div>
                                                       
                                                                    
                                                                     
                                                                    <div class="column">
                                                                        <h3>11:59 PM - 3:45 PM</h3>
                                                                        <small>KLM</small>
                                                                     </div>
                                                                                
                                                                     
                                                                    <div class="column">
                                                                        <h3>23h 46m</h3>
                                                                        <small>NBO - JFK</small>
                                                                   </div>
                                                 
                                                                   <div class="column">
                                                                       <h3>1 stop</h3>
                                                                       <small>7h 5m AMS</small>
                                                             
                                                                   </div>
                                                      
                                                                    <div class="column">
                                                                       <h3>$2,255</h3>
                                                                       <small>Round Trip</small>
                                                                       </div>
                 
                                                                      <div class="column">
                     
                                        
                                         <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                       </div>  
                                                                                    
                                                                   </div>
                                                                   </div>
                                                                   </div>
                                                                   
                                                                   <!-- <end of option> -->
                                                                       <div class="w3-topbar w3-border-amber">
                                                                           <div class="row">
                                                                              <div class="column">
                                                                                  <img src="https://www.gstatic.com/flights/airline_logos/70px/KL.png"><br>
                                                            
                                                                               </div>
                                                                 
                                                                              
                                                                               
                                                                              <div class="column">
                                                                                  <h3>11:59 PM - 7:30 PM</h3>
                                                                                  <small>KLM</small>
                                                                               </div>
                                                                                          
                                                                               
                                                                              <div class="column">
                                                                                  <h3>27h 31m</h3>
                                                                                  <small>NBO - JFK</small>
                                                                             </div>
                                                           
                                                                             <div class="column">
                                                                                 <h3>1 stop</h3>
                                                                                 <small>10h 50m AMS</small>
                                                                       
                                                                             </div>
                                                                
                                                                              <div class="column">
                                                                                 <h3>$2,255</h3>
                                                                                 <small>Round Trip</small>
                                                                                 </div>
                 
                                                                                 <div class="column">
                     
                                        
                                                                                     <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                   </div>  
                                                                             </div>
                                                                             </div>
                                                                             </div>
                                                                             
                                                                             <!-- <end of option> -->   
                                                                                 <div class="w3-topbar w3-border-amber">
                                                                                     <div class="row">
                                                                                        <div class="column">
                                                                                            <img src="https://www.gstatic.com/flights/airline_logos/70px/AF.png"><br>
                                                                      
                                                                                         </div>
                                                                           
                                                                                        
                                                                                         
                                                                                        <div class="column">
                                                                                            <h3>8:15 AM - 10:40 AM</h3>
                                                                                            <small>KLM</small>
                                                                                         </div>
                                                                                                    
                                                                                         
                                                                                        <div class="column">
                                                                                            <h3>34h 25m</h3>
                                                                                            <small>NBO - JFK</small>
                                                                                       </div>
                                                                     
                                                                                       <div class="column">
                                                                                           <h3>1 stop</h3>
                                                                                           <small>17h 15m CDG</small>
                                                                                 
                                                                                       </div>
                                                                          
                                                                                        <div class="column">
                                                                                           <h3>$2,678</h3>
                                                                                           <small>Round Trip</small>
                                                                                           </div>
                 
                                                                                           <div class="column">
                     
                                        
                                                                                               <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                             </div>  
                                                                                                        
                                                                                       </div>
                                                                                       </div>
                                                                                       </div>
                                                                                       
                                                                                       <!-- <end of option> -->   
                 
                                                                                           <div class="w3-topbar w3-border-amber">
                                                                                               <div class="row">
                                                                                                  <div class="column">
                                                                                                      <img src="https://www.gstatic.com/flights/airline_logos/70px/EK.png"><br>
                                                                                
                                                                                                   </div>
                                                                                     
                                                                                                  
                                                                                                   
                                                                                                  <div class="column">
                                                                                                      <h3>4:50 PM - 8:15 AM</h3>
                                                                                                      <small>Emirates</small>
                                                                                                   </div>
                                                                                                              
                                                                                                   
                                                                                                  <div class="column">
                                                                                                      <h3>23h 25m</h3>
                                                                                                      <small>NBO - JFK</small>
                                                                                                 </div>
                                                                               
                                                                                                 <div class="column">
                                                                                                     <h3>1 stop</h3>
                                                                                                     <small>3h 45m DXB</small>
                                                                                           
                                                                                                 </div>
                                                                                    
                                                                                                  <div class="column">
                                                                                                     <h3>$2,857</h3>
                                                                                                     <small>Round Trip</small>
                                                                                                     </div>
                                                                                                     <div class="column">
                     
                                        
                                                                                                         <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                                       </div>  
                                                                                                 </div>
                                                                                                 </div>
                                                                                                 </div>
                                                                                                 
                                                                                                 <!-- <end of option> --> 
                                                                                                   
                                                                                                     <div class="w3-topbar w3-border-amber">
                                                                                                         <div class="row">
                                                                                                            <div class="column">
                                                                                                                <img src="https://www.gstatic.com/flights/airline_logos/70px/EK.png"><br>
                                                                                          
                                                                                                             </div>
                                                                                               
                                                                                                            
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>10:45 PM - 1:55 PM</h3>
                                                                                                                <small>Emirates</small>
                                                                                                             </div>
                                                                                                                        
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>29h 5m</h3>
                                                                                                                <small>NBO - JFK</small>
                                                                                                           </div>
                                                                                         
                                                                                                           <div class="column">
                                                                                                               <h3>1 stop</h3>
                                                                                                               <small>9h 40m DXB</small>
                                                                                                     
                                                                                                           </div>
                                                                                              
                                                                                                            <div class="column">
                                                                                                               <h3>$2,857</h3>
                                                                                                               <small>Round Trip</small>
                                                                                                               </div>
                 
                                                                                                               <div class="column">
                     
                                        
                                                                                                                   <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                                                 </div>   
                                                                                                                            
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           
                                                                                                       
                                                                                                             
                                                                                                         <!-- <end of option> --> 
                                                                                                   
                                                                                                     <div class="w3-topbar w3-border-amber">
                                                                                                         <div class="row">
                                                                                                            <div class="column">
                                                                                                                <img src="https://www.gstatic.com/flights/airline_logos/70px/EY.png"><br>
                                                                                          
                                                                                                             </div>
                                                                                               
                                                                                                            
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>2:15 PM - 3:55 PM</h3>
                                                                                                                <small>Etihad</small>
                                                                                                             </div>
                                                                                                                        
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>33h 40m</h3>
                                                                                                                <small>NBO - JFK</small>
                                                                                                           </div>
                                                                                         
                                                                                                           <div class="column">
                                                                                                               <h3>1 stop</h3>
                                                                                                               <small>13h 50m AUH</small>
                                                                                                     
                                                                                                           </div>
                                                                                              
                                                                                                            <div class="column">
                                                                                                               <h3>$2,869</h3>
                                                                                                               <small>Round Trip</small>
                                                                                                               </div>
                                                                                                               <div class="column">
                     
                                        
                                                                                                                   <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                                                 </div>  
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           
                                                                                                                                                                      <!-- <end of option> -->     
                                                                                                             
                                                                                                         <!-- <end of option> --> 
                                                                                                   
                                                                                                     <div class="w3-topbar w3-border-amber">
                                                                                                         <div class="row">
                                                                                                            <div class="column">
                                                                                                                <img src="https://www.gstatic.com/flights/airline_logos/70px/QR.png"><br>
                                                                                          
                                                                                                             </div>
                                                                                               
                                                                                                            
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>12:30 AM - 2:25 PM</h3>
                                                                                                                <small>Qatar Airways</small>
                                                                                                             </div>
                                                                                                                        
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>21h 55m</h3>
                                                                                                                <small>NBO - JFK</small>
                                                                                                           </div>
                                                                                         
                                                                                                           <div class="column">
                                                                                                               <h3>1 stop</h3>
                                                                                                               <small>1h 15m DOH</small>
                                                                                                     
                                                                                                           </div>
                                                                                              
                                                                                                            <div class="column">
                                                                                                               <h3>$3,010</h3>
                                                                                                               <small>Round Trip</small>
                                                                                                               </div>
                 
                                                                                                               <div class="column">
                     
                                        
                                                                                                                   <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                                                 </div>  
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           
                                                                                                           <!-- <end of option> -->    
                                                                                                             
                                                                             
                                                                                                   
                                                                                                     <div class="w3-topbar w3-border-amber">
                                                                                                         <div class="row">
                                                                                                            <div class="column">
                                                                                                                <img src="https://www.gstatic.com/flights/airline_logos/70px/QR.png"><br>
                                                                                          
                                                                                                             </div>
                                                                                               
                                                                                                            
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>4:55 AM - 7:40 AM</h3>
                                                                                                                <small>Qatar Airways</small>
                                                                                                             </div>
                                                                                                                        
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>22h 45m</h3>
                                                                                                                <small>NBO - JFK</small>
                                                                                                           </div>
                                                                                         
                                                                                                           <div class="column">
                                                                                                               <h3>1 stop</h3>
                                                                                                               <small>2h 10m DOH</small>
                                                                                                     
                                                                                                           </div>
                                                                                              
                                                                                                            <div class="column">
                                                                                                               <h3>$3,010</h3>
                                                                                                               <small>Round Trip</small>
                                                                                                               </div>
                                                                                                               <div class="column">
                     
                                        
                                                                                                                   <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                                                 </div>     
                                                                                                                            
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           
                                                                                                           <!-- <end of option> -->
                 
                 
                                                                                                   
                                                                                                     <div class="w3-topbar w3-border-amber">
                                                                                                         <div class="row">
                                                                                                            <div class="column">
                                                                                                                <img src="https://www.gstatic.com/flights/airline_logos/70px/QR.png"><br>
                                                                                          
                                                                                                             </div>
                                                                                               
                                                                                                            
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>4:55 AM - 7:40 AM</h3>
                                                                                                                <small>Qatar Airways</small>
                                                                                                             </div>
                                                                                                                        
                                                                                                             
                                                                                                            <div class="column">
                                                                                                                <h3>22h 45m</h3>
                                                                                                                <small>NBO - JFK</small>
                                                                                                           </div>
                                                                                         
                                                                                                           <div class="column">
                                                                                                               <h3>1 stop</h3>
                                                                                                               <small>2h 10m DOH</small>
                                                                                                     
                                                                                                           </div>
                                                                                              
                                                                                                            <div class="column">
                                                                                                               <h3>$3,010</h3>
                                                                                                               <small>Round Trip</small>
                                                                                                               </div>
                 
                                                                                                               <div class="column">
                     
                                        
                                                                                                                   <a href="https://www.kenya-airways.com/plan-and-book/search-and-book/book-flight/en/" class="w3-btn w3-black">Select Flight</a>
                                                                                                                 </div>  
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           </div>
                                                                                                           
                                                                                                           <!-- <end of option> -->
                 
                                                                                                           </div>     
                                          
                                     
                           
                       
              </div>
</body>
</html>